In [33]:
from gensim import corpora, models, similarities, matutils
import itertools
import numpy as np
import pandas as pd

In [2]:
dropbox = "/Users/mr/Dropbox/moviemeta/"

In [14]:
lda = models.LdaModel.load(dropbox +'lda_imdb_2015.model')
corpus = corpora.MmCorpus(dropbox +'lda_imdb_2015.corpus')
dictionary = corpora.Dictionary.load(dropbox +'lda_imdb_2015.dict')
with open(dropbox +'imdb_movies_since_2014.pickle', 'rb') as f:
    movies = np.load(f)

In [74]:
topic_matrix = matutils.corpus2dense(lda[corpus], num_terms=20)
topic_df = pd.DataFrame(np.ndarray.transpose(topic_matrix))
topic_df['movie_title'] = pd.Series(movies, index=topic_df.index)

Now we have created a dataframe with the topic distribution for every movie. We have 20 topics, columns 0 - 19. The values represent how prominently a topic features in a movie.

In [84]:
topic_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,movie_title
0,0,0,0.482269,0.000,0.000000,0.000000,0.000000,0.177444,0.000000,0.000000,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,0.283620,#1 at the Apocalypse Box Office (2015)
1,0,0,0.000000,0.039,0.000000,0.000000,0.000000,0.000000,0.078759,0.569357,...,0.173276,0,0.000000,0,0.041973,0,0.000000,0.084173,0.000000,#50Fathers (2015)
2,0,0,0.000000,0.000,0.077895,0.000000,0.228392,0.000000,0.214340,0.000000,...,0.000000,0,0.000000,0,0.000000,0,0.459374,0.000000,0.000000,#BeRobin the Movie (2015)
3,0,0,0.000000,0.000,0.000000,0.092356,0.000000,0.267722,0.330263,0.000000,...,0.000000,0,0.298392,0,0.000000,0,0.000000,0.000000,0.000000,#Beings (2015)
4,0,0,0.000000,0.000,0.214896,0.000000,0.000000,0.000000,0.000000,0.538686,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0.000000,0.211001,#Disneyland60 (2015)

In [85]:
lda.print_topics(20)

[u'0.009*zombi + 0.009*japanes + 0.008*camp + 0.007*surviv + 0.007*human + 0.006*medic + 0.004*patient + 0.004*diseas + 0.004*scientist + 0.004*death',
 u'0.006*novel + 0.005*club + 0.005*master + 0.005*plan + 0.004*villag + 0.004*night + 0.004*play + 0.004*love + 0.004*write + 0.004*chang',
 u'0.015*war + 0.010*human + 0.007*earth + 0.006*surviv + 0.006*race + 0.006*journey + 0.006*american + 0.006*forc + 0.005*fight + 0.005*anim',
 u'0.012*friend + 0.009*play + 0.009*comedi + 0.007*love + 0.005*start + 0.005*relationship + 0.005*girl + 0.005*parti + 0.004*charact + 0.004*success',
 u'0.011*documentari + 0.011*citi + 0.008*histori + 0.007*rock + 0.006*industri + 0.006*activist + 0.005*right + 0.005*band + 0.005*punk + 0.005*includ',
 u'0.039*love + 0.014*relationship + 0.010*woman + 0.010*marri + 0.009*famili + 0.008*coupl + 0.007*fall + 0.007*marriag + 0.007*decid + 0.006*dream',
 u'0.030*music + 0.018*artist + 0.015*art + 0.009*perform + 0.007*record + 0.006*musician + 0.006*creat + 0.006*inspir + 0.006*talent + 0.005*song',
 u'0.015*friend + 0.008*girl + 0.008*help + 0.007*plan + 0.007*decid + 0.006*job + 0.006*start + 0.006*town + 0.006*night + 0.006*boy',
 u'0.009*food + 0.008*island + 0.008*blue + 0.005*farm + 0.005*begin + 0.004*love + 0.004*travel + 0.004*citi + 0.004*gener + 0.004*past',
 u'0.013*student + 0.012*school + 0.010*drug + 0.008*colleg + 0.007*teacher + 0.007*fight + 0.006*agent + 0.005*struggl + 0.005*money + 0.005*hors',
 u'0.015*friend + 0.011*night + 0.010*stranger + 0.008*begin + 0.008*hous + 0.008*mysteri + 0.006*love + 0.005*themselv + 0.005*realiti + 0.005*church',
 u'0.008*famili + 0.006*begin + 0.006*monster + 0.005*discov + 0.005*question + 0.005*strang + 0.005*experi + 0.005*light + 0.004*tri + 0.004*student',
 u'0.010*prison + 0.009*team + 0.007*train + 0.007*school + 0.006*coach + 0.006*former + 0.006*unit + 0.005*championship + 0.005*match + 0.005*forc',
 u'0.014*father + 0.013*famili + 0.010*mother + 0.010*love + 0.008*tri + 0.007*struggl + 0.007*past + 0.007*son + 0.007*brother + 0.007*girl',
 u'0.017*kill + 0.016*murder + 0.011*mysteri + 0.010*killer + 0.010*investig + 0.009*detect + 0.009*dark + 0.008*death + 0.008*secret + 0.007*town',
 u'0.007*witch + 0.006*god + 0.006*daughter + 0.006*king + 0.006*wife + 0.005*cave + 0.005*town + 0.005*flee + 0.005*queen + 0.005*drag',
 u'0.008*friend + 0.006*love + 0.006*leav + 0.005*forc + 0.005*chang + 0.005*tri + 0.005*home + 0.005*night + 0.004*tale + 0.004*relationship',
 u'0.012*famili + 0.006*father + 0.006*friend + 0.005*run + 0.005*person + 0.005*son + 0.004*home + 0.004*daughter + 0.004*help + 0.004*law',
 u'0.012*game + 0.012*women + 0.008*histori + 0.005*video + 0.005*origin + 0.005*histor + 0.005*water + 0.005*social + 0.005*basebal + 0.005*book',
 u'0.014*documentari + 0.007*explor + 0.007*movi + 0.007*featur + 0.006*short + 0.005*person + 0.005*danc + 0.005*journey + 0.005*cultur + 0.005*charact']