In [2]:
from gensim import corpora, models, similarities, matutils
import itertools
import numpy as np
import pandas as pd
from unidecode import unidecode

In [3]:
dropbox = "/Users/mr/Dropbox/moviemeta/"

In [9]:
wiki_lda = models.LdaModel.load(dropbox +'lda_wiki.model')
wiki_corpus = corpora.MmCorpus(dropbox +'lda_wiki.corpus')
wiki_dict = corpora.Dictionary.load(dropbox +'lda_wiki.dict')
wiki_meta_df = pd.read_csv(dropbox + 'wiki_meta_df.csv')

In [10]:
wiki_topic_matrix = matutils.corpus2dense(wiki_lda[corpus], num_terms=30)
wiki_topic_df = pd.DataFrame(np.ndarray.transpose(wiki_topic_matrix))

Now we have created a dataframe with the topic distribution for every movie. We have 20 topics, columns 0 - 19. The values represent how prominently a topic features in a movie.

In [14]:
wiki_topic_df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0,0,0,0,0.000000,0.00000,0.000000,0.000000,0,0,...,0,0,0.000000,0,0,0,0.641651,0.000000,0.000000,0
1,0,0,0,0,0.053756,0.00000,0.000000,0.000000,0,0,...,0,0,0.181564,0,0,0,0.000000,0.000000,0.754680,0
2,0,0,0,0,0.000000,0.32694,0.000000,0.163939,0,0,...,0,0,0.000000,0,0,0,0.000000,0.000000,0.327525,0
3,0,0,0,0,0.000000,0.00000,0.301251,0.000000,0,0,...,0,0,0.000000,0,0,0,0.000000,0.000000,0.000000,0
4,0,0,0,0,0.000000,0.00000,0.000000,0.929066,0,0,...,0,0,0.000000,0,0,0,0.000000,0.067812,0.000000,0

In [18]:
wiki_meta_df.head()

   Unnamed: 0              title  year        countries
0           0  Well-Founded Fear  2000    United States
1           2            Thenali  2000            India
2           6  The Season of Men  2000  France, Tunisia
3           7  Beautiful Mistake  2000            Wales
4           8    Ready to Rumble  2000    United States

In [31]:
wiki_topic_df = pd.concat([wiki_topic_df, wiki_meta_df], axis=1) 
wiki_topic_df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,Unnamed: 0,title,year,countries
0,0,0,0,0,0.000000,0.00000,0.000000,0.000000,0,0,...,0,0,0.641651,0.000000,0.000000,0,0,Well-Founded Fear,2000,United States
1,0,0,0,0,0.053756,0.00000,0.000000,0.000000,0,0,...,0,0,0.000000,0.000000,0.754680,0,2,Thenali,2000,India
2,0,0,0,0,0.000000,0.32694,0.000000,0.163939,0,0,...,0,0,0.000000,0.000000,0.327525,0,6,The Season of Men,2000,"France, Tunisia"
3,0,0,0,0,0.000000,0.00000,0.301251,0.000000,0,0,...,0,0,0.000000,0.000000,0.000000,0,7,Beautiful Mistake,2000,Wales
4,0,0,0,0,0.000000,0.00000,0.000000,0.929066,0,0,...,0,0,0.000000,0.067812,0.000000,0,8,Ready to Rumble,2000,United States

In [98]:
topmovies_df=pd.read_csv(dropbox + "TopMovies_final.csv")

In [82]:
us_df = topmovies_df[topmovies_df.country=='United States']
us_df.head()

            country  year                                  movie
4139  United States  2014                        American Sniper
4140  United States  2014  The Hunger Games: Mockingjay - Part 1
4141  United States  2014                Guardians of the Galaxy
4142  United States  2014    Captain America: The Winter Soldier
4143  United States  2014                         The LEGO Movie

In [33]:
us_wiki_df = wiki_topic_df[wiki_topic_df['title'].isin(us_df.movie.tolist())]

In [35]:
print us_wiki_df.shape
us_wiki_df.head()

(4413, 34)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,Unnamed: 0,title,year,countries
8,0,0.361445,0.00000,0,0,0,0,0.000000,0.000000,0,...,0.466526,0.000000,0,0.000000,0,0.000000,13,Aberdeen,2000,"Norway, Sweden, United Kingdom"
14,0,0.023080,0.00000,0,0,0,0,0.286480,0.223847,0,...,0.000000,0.114903,0,0.064416,0,0.256945,21,Tears of the Black Tiger,2000,Thailand
20,0,0.000000,0.00000,0,0,0,0,0.000000,0.000000,0,...,0.000000,0.000000,0,0.000000,0,0.000000,27,Help! I'm a Fish,2000,"Denmark, Germany, Ireland"
25,0,0.000000,0.01731,0,0,0,0,0.037113,0.000000,0,...,0.000000,0.000000,0,0.087541,0,0.000000,32,Bang Rajan,2000,Thailand
32,0,0.000000,0.00000,0,0,0,0,0.000000,0.000000,0,...,0.128445,0.000000,0,0.000000,0,0.000000,44,Better Than Sex,2000,Australia / France

In [144]:
#imdb_lda = models.LdaModel.load(dropbox +'lda_imdb.model')
#imdb_corpus = corpora.MmCorpus(dropbox +'lda_imdb.corpus')
#imdb_dict = corpora.Dictionary.load(dropbox +'lda_imdb.dict')
imdb_meta_df = pd.read_csv(dropbox + 'imdb_meta_df.csv')
imdb_topic_matrix = matutils.corpus2dense(imdb_lda[corpus], num_terms=30)
imdb_topic_df = pd.DataFrame(np.ndarray.transpose(wiki_topic_matrix))
imdb_topic_df = pd.concat([imdb_topic_df, imdb_meta_df], axis=1) 
#imdb_topic_df['title'] = imdb_topic_df['title'].apply(unidecode)
#imdb_topic_df['title'] = imdb_topic_df['title'].apply(lambda x : x.split('(')[0].strip())
#imdb_meta_df['title'] = imdb_meta_df['title'].apply(unidecode)
#imdb_meta_df['title'] = imdb_meta_df['title'].apply(lambda x : x.split('(')[0].strip())

In [64]:
us_imdb_df = imdb_meta_df[imdb_meta_df['year']==2015][imdb_meta_df['title'].isin(us_df[us_df['year']==2015].movie.tolist())]
us_imdb_df.shape

(0, 3)

In [90]:
meta_2014 = imdb_meta_df[imdb_meta_df['year']==2014]
us_2014 = us_df[us_df['year']==2014]
#sum(imdb_meta_df[imdb_meta_df.title.isin(us_df[us_df['year']==2015].movie.tolist()))])

In [138]:
imdb_topic_df.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,Unnamed: 0,title,year
0,0,0,0,0,0.000000,0.00000,0.000000,0.000000,0,0,...,0,0,0,0.641651,0.000000,0.000000,0,0,#1 Cheerleader Camp (2010) (V),2010
1,0,0,0,0,0.053756,0.00000,0.000000,0.000000,0,0,...,0,0,0,0.000000,0.000000,0.754680,0,1,#1 Serial Killer (2013),2013
2,0,0,0,0,0.000000,0.32694,0.000000,0.163939,0,0,...,0,0,0,0.000000,0.000000,0.327525,0,2,#1 at the Apocalypse Box Office (2015),2015
3,0,0,0,0,0.000000,0.00000,0.301251,0.000000,0,0,...,0,0,0,0.000000,0.000000,0.000000,0,3,#137 (2011),2011
4,0,0,0,0,0.000000,0.00000,0.000000,0.929066,0,0,...,0,0,0,0.000000,0.067812,0.000000,0,4,#29 (2012),2012

In [150]:
def get(df, year, country=None):
    df = df[df['year']==year]
    if country:
        return df[df['country']==country]
    return df

imdb_merged_df = pd.DataFrame()

for year in range(2001, 2015):
    for country in ['Germany','United States', 'United Kingdom', 'South Korea', 'Japan', 'Hong Kong']:
        topic = get(imdb_topic_df, year)
        top = get(topmovies_df, year,country)
        #remove date from imdb title
        titles = topic.title.apply(lambda x : x.split('(')[0].strip())
        topic = topic[titles.isin(top.movie.tolist())]
        topic['country'] = country
        imdb_merged_df = pd.concat([imdb_merged_df, topic])
imdb_merged_df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,Unnamed: 0,title,year,country
5579,0.010297,0,0.000000,0.000000,0.306236,0.220729,0.000000,0.026114,0.000000,0,...,0.000000,0.000000,0,0,0.068704,0,5579,A Knight's Tale (2001),2001,Germany
13945,0.000000,0,0.000000,0.000000,0.073931,0.000000,0.000000,0.025075,0.000000,0,...,0.200399,0.000000,0,0,0.000000,0,13945,Along Came a Spider (2001),2001,Germany
14601,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015292,0,...,0.036470,0.061934,0,0,0.000000,0,14601,America's Sweethearts (2001),2001,Germany
14900,0.000000,0,0.040355,0.000000,0.000000,0.052270,0.083737,0.000000,0.000000,0,...,0.087238,0.097102,0,0,0.000000,0,14900,American Pie 2 (2001),2001,Germany
16626,0.000000,0,0.282252,0.093309,0.000000,0.170339,0.000000,0.000000,0.000000,0,...,0.000000,0.000000,0,0,0.200654,0,16626,Angel Eyes (2001),2001,Germany

In [155]:
imdb_meta_top_df = pd.DataFrame()

for year in range(2001, 2015):
    meta = get(imdb_meta_df, year)
    top = get(topmovies_df, year)
    #remove date from imdb title
    titles = meta.title.apply(lambda x : x.split('(')[0].strip())
    meta = meta[titles.isin(top.movie.tolist())]
    imdb_meta_top_df = pd.concat([imdb_meta_top_df, meta])

In [157]:
imdb_meta_top_df.shape

(3761, 3)

In [136]:
for year in range(2001, 2015):
    for country in ['Germany','United States', 'United Kingdom', 'South Korea', 'Japan', 'Hong Kong']:
        print country
        print year
        print get(imdb_merged_df,year, country).shape[0]
        print '================================'

Germany
2001
77
================================
United States
2001
183
================================
United Kingdom
2001
0
================================
South Korea
2001
0
================================
Japan
2001
0
================================
Hong Kong
2001
0
================================
Germany
2002
83
================================
United States
2002
215
================================
United Kingdom
2002
97
================================
South Korea
2002
0
================================
Japan
2002
40
================================
Hong Kong
2002
48
================================
Germany
2003
90
================================
United States
2003
190
================================
United Kingdom
2003
104
================================
South Korea
2003
0
================================
Japan
2003
36
================================
Hong Kong
2003
43
================================
Germany
2004
110
================================
United States
2004
227
================================
United Kingdom
2004
151
================================
South Korea
2004
0
================================
Japan
2004
37
================================
Hong Kong
2004
38
================================
Germany
2005
91
================================
United States
2005
213
================================
United Kingdom
2005
135
================================
South Korea
2005
0
================================
Japan
2005
38
================================
Hong Kong
2005
41
================================
Germany
2006
112
================================
United States
2006
229
================================
United Kingdom
2006
174
================================
South Korea
2006
0
================================
Japan
2006
33
================================
Hong Kong
2006
41
================================
Germany
2007
124
================================
United States
2007
225
================================
United Kingdom
2007
189
================================
South Korea
2007
74
================================
Japan
2007
29
================================
Hong Kong
2007
45
================================
Germany
2008
105
================================
United States
2008
220
================================
United Kingdom
2008
192
================================
South Korea
2008
68
================================
Japan
2008
31
================================
Hong Kong
2008
43
================================
Germany
2009
102
================================
United States
2009
206
================================
United Kingdom
2009
140
================================
South Korea
2009
63
================================
Japan
2009
23
================================
Hong Kong
2009
45
================================
Germany
2010
97
================================
United States
2010
199
================================
United Kingdom
2010
132
================================
South Korea
2010
65
================================
Japan
2010
30
================================
Hong Kong
2010
41
================================
Germany
2011
110
================================
United States
2011
197
================================
United Kingdom
2011
192
================================
South Korea
2011
65
================================
Japan
2011
23
================================
Hong Kong
2011
43
================================
Germany
2012
117
================================
United States
2012
191
================================
United Kingdom
2012
198
================================
South Korea
2012
51
================================
Japan
2012
24
================================
Hong Kong
2012
41
================================
Germany
2013
107
================================
United States
2013
179
================================
United Kingdom
2013
169
================================
South Korea
2013
50
================================
Japan
2013
23
================================
Hong Kong
2013
42
================================
Germany
2014
122
================================
United States
2014
174
================================
United Kingdom
2014
168
================================
South Korea
2014
51
================================
Japan
2014
27
================================
Hong Kong
2014
57
================================

In [ ]:
with open(dropbox + "imdb/countries.list") as f:
    countries = f.readlines()
    
imdb_meta_top_df['origin'] = pd.Series(index=imdb_meta_top_df.index)
for i,movie in enumerate(countries):
    if movie[0] == '"':
        continue
    split = movie.split('\t')
    title = split[0]
    idx = imdb_meta_top_df[imdb_meta_top_df['title']== title].index
    #if the title is in our dataframe add the country
    if len(idx > 0):
        imdb_meta_top_df.loc[[idx[0]],['origin']]= split[len(split)-1].replace('\n','')

In [ ]:
imdb_meta_top_df.to_csv(dropbox + 'imdb_meta_top_df.csv')

In [ ]:
imdb_topic_labels = {0:'love, family', 
                1:'love, relationships', 
                2:'earth, nature', 
                3:'friendships, relationships', 
                4:'crime, mistery', 
                5:'society, culture', 
                6:'home',
                7:'money',
                8:'gangs, drug, police',
                9:'documentary, interview',
                10:'night life, enjoyment',
                11:'music',
                12:'war',
                13:'school, college',
                14:'fantasy, fairy tale',
                15:'cowboys and indians',
                16:'photagraphy, design',
                17:'comedy',
                18:'spies, terrorism',
                19:'crime, police, underworld',
                20:'places, nature, scenery',
                21:'historical, costumes',
                22:'town',
                23:'hollywood, stars',
                24:'press, politics',
                25:'farming, country side',
                26:'fantasy, christmas',
                27:'magic, myths',
                28:'ships, sailing, pirates',
                29:'mixed'}